body {
  margin: 0;
  padding: 0;
  background-image: url(/IMAGES/book.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* #login-form{
      display: none;
  }  */
.head {
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  text-decoration: underline;
}
.inp {
  font-size: larger;
  font-weight: bolder;
  margin-bottom: 2px;
}
.form-box {
  width: 550px;
  height: 500px;
  margin-right: 200px;
  position: relative;
  margin: 5% auto;
  background: linear-gradient(rgb(99, 94, 94), white, black);
  padding: 10px;
  border-radius: 5px;
  margin-left: 500px;
}

.bookingpage {
  top: 50px;
  position: absolute;
  width: 450px;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  padding: 09px 0;
  margin: 10px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(7, 7, 7);
  outline: none;
  background: transparent;
}

input {
  font-weight: 800;
}
.booknow {
  width: 50%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #ff8b07;
  border: 0;
  outline: none;
  border-radius: 30px;
  margin-top: 50px;
}
.booknow:hover {
  background-color: #ffa91f;
  color: black;
}

#booking {
  left: 50px;
}
#booking input {
  color: white;
  font-size: 15px;
}